.property {
  padding: 0.5rem;
  border-bottom: 1px solid rgb(229, 231, 235);
  display: flex;
  align-items: center;

  .title {
    color: rgb(15, 23, 42);
    font-size: 14px;
    margin-right: 5px;
  }

}

.menuItem {
  margin: 5px !important;
}

.contentSection {
  max-height: 300px;
  padding: 10px 20px;
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 4px
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #6B6B6B;
    border-radius: 2px;
  }

}
